---
import '../../../styles/global.css';
import AuthCallback from '../../../auth/AuthCallback';
---
<!doctype html>
<html lang="de" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aamäldig…</title>
    <meta name="robots" content="noindex" />
  </head>
  <body class="h-full antialiased flex items-center justify-center bg-zh-black-5">
    <AuthCallback client:only="react" />
  </body>
</html>
